@import url('../main.css');

.card-container {
    position: absolute;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-box {
    background-color: #cbf76d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
    height: 300px;
    width: 250px;
    border-radius: 0.4rem;
}

.card-box {
    margin: 2rem 0 0 2rem;
}

/* .card-box:nth-child(1) {
    margin-left: 0;
} */

.card {
    margin-left: 1.5rem;
}

.card-img {
    border: 1px solid #fff;
    height: 150px;
    width: 200px;
    border-radius: 0.4rem;
}

.card-box .card .card-h,
.card-p {
    color: #232222;
}

.card-h {
    font-size: 1.28rem;
    margin: 0.55rem 0 0 0;
}

.card-p {
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    font-size: 0.84rem;
}

.card-btn {
    background-color: #fff;
    text-decoration: none;
    padding: 0.25rem;
    color: black;
    margin-top: 2rem;
    font-size: 0.84rem;
    transition: all 0.5s;
    border-radius: 0.2rem;
}

.card-btn:hover {
    letter-spacing: 0.5px;
}