* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#return-home {
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 50px;
    top: 50px;
    /* border: 1px solid black; */
    cursor: pointer;
    padding: 0.5rem;
    transition: ease-in-out 0.5s;
    border-radius: 0.2rem;
}

#return-home:hover {
    background-color: #fff;
    color: #151414;
}

.menu-display {
    /* border: 1px solid black; */
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first-display {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #e22626;
    color: #fff;
    box-shadow: 0.1rem 0.1rem 5rem #f66969;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border-radius: 0.4rem;
    transition: all 0.5s;
}

.first-display:hover {
    box-shadow: 0.1rem 0.1rem 5rem #e22626;
}

.menu-display a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-size: 1.42rem;
    border-radius: 0.2rem;
    width: 20rem;
    height: 2.5rem;
    margin: 1rem 0;
    transition: all 0.5s;
}

.menu-display a:hover {
    transform: scale(1.03);
}

.menu-display a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 1rem #151414;
}

.menu-display a:nth-child(1) {
    background-color: #cbf76d;
}

.menu-display a:nth-child(2) {
    background-color: #faba53;
}

.menu-display a:nth-child(3) {
    background-color: #6dabf7;
}

.menu-display a:nth-child(4) {
    background-color: #cb47ec;
}

.menu-display a:nth-child(5) {
    background-color: #f76d9b;
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: bold;
    border-radius: 0.2rem;
    transition: all 0.5s;
    font-weight: lighter;
    font-size: 1.12rem;
    background-color: #e1dcdc;
}

button:hover {
    background-color: #fff;
}

input,
textarea {
    padding: 0.76rem 0.7rem;
    font-size: 1rem;
    border: 0;
    outline: 0;
    letter-spacing: 1.3px;
    border-radius: 0.2rem;
    transition: all 0.2s;
}

.hidden {
    display: none;
}



/*  //=== MEDIA QUERIES ====// */

@media(max-width: 1280px) {

    .banner-container .banner-text {
        margin-left: 20px;
        /* margin-left: 20px; */
    }

    .banner-container .banner-text h2 {
        font-size: 3rem;
    }

    .banner-container .banner-text h1 {
        font-size: 6.5rem;
    }

    .banner-container .banner-text button {
        width: 150px;
    }

    .banner-container .banner-image {
        margin-left: 20px;
    }
}

@media(max-width: 1024px) {

    .banner-container .banner-text {
        margin-left: 20px;
    }

    .banner-container .banner-text h2 {
        font-size: 2.3rem;
    }

    .banner-container .banner-text h1 {
        font-size: 5rem;
    }

    .banner-container .banner-text button {
        width: 150px;
    }

    .banner-container .banner-image {
        margin-left: 20px;
    }
}

@media(max-width: 768px) {

    .banner-container {
        flex-direction: column;
        justify-content: center;
    }

    .banner-container .banner-text {
        width: 95%;
    }

    .banner-container .banner-text h1 {
        font-size: 5.5rem;

    }

    .banner-container .banner-text h2 {
        font-size: 2.5rem;
    }

    .banner-container .banner-image {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .banner-container .banner-text h1 {
        font-size: 3.8rem;
        line-height: 60px;
    }

    .banner-container .banner-text h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 320px) {
    .banner-container .banner-text h1 {
        font-size: 2.7rem;
        line-height: 40px;
    }

    .banner-container .banner-text h2 {
        font-size: 1.3rem;
    }
}